:root {
  --navHeight: 70px;
}

* {
  margin: 0;
  padding: 0;
}

.switch {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch div {
  position: relative;
  display: block;
  background: #eee;
  width: 30px;
  border-radius: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.fa-adjust {
  transform: rotate(180deg);
}

.switch input {
  display: none;
}

.slider {
  background-color: rgb(153, 153, 153);
  transition: 0.4s;
  border-radius: 34px;
  height: 12px;
  width: 12px;
  display: inline-block;
  position: relative;
}

input:checked + .slider {
  transform: translateX(8px);
}

nav {
  background: #555554;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 0px;
  position: relative;
}

nav ul li:hover {
  background-color: #dedaba;
}

main {

  padding-top: 0pt;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background: #e5c687;
  height: calc(130vh - var(--navHeight));
}

:root {
  --navHeight: 70px;
  --sage: #6e7477cc;
  --paleSpringBud: #73aec0;
  --goldCrayola: #c8d5db;
  --richBlackForeground: #0d3146;
  --white: #f8f8f8;
  --darkGreen: rgb(8, 107, 107);
  --msuGreen: #373d41;
  --gray: rgb(136, 134, 134);
}
.light-theme {
  --themeDropDownBg: var(--goldCrayola);
  --themeIconBorderColor: var(--sage);
  --navBg: var(--sage);
  --navLinkHoverBg: var(--paleSpringBud);
  --mainBg: var(--goldCrayola);
  --fontColor: var(--black);
}

.dark-theme {
  --themeDropDownBg: var(--msuGreen);
  --themeIconBorderColor: var(--richBlackForeground);
  --navBg: var(--richBlackForeground);
  --navLinkHoverBg: var(--msuGreen);
  --mainBg: var(--msuGreen);
  --fontColor: var(--white);
}


* {
  color: var(--fontColor);
}

nav {
  background: var(--navBg);
}

nav ul li:hover {
  background-color: var(--navLinkHoverBg);
}

main {
  background: var(--mainBg);
}

